**/.vs
**/.vscode
**/.DS_Store
**/.idea

secrets
# Node modules need to be committed for github actions
**/node_modules

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

build-artefacts
samples/examples

# local build artifact folder
/tmp
